.registerPageContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5em;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
form > label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin: 0.2em;
}

.submitButton {
    margin: 2em;
}
