.tablePageContainer{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

table {
    margin-top: 5em;
    width: 50%;
    min-width: 400px;
}
thead {
    background-color: #6bffc6;
}
table, td {
    border: 2px solid rgb(197, 197, 197);
    border-collapse: collapse;
    padding: 0.2em;
}
td {
    text-align: center;
}

td.trackDelivery:hover {
    background-color: rgb(214, 214, 214);
    cursor: pointer;
}